%button {
  padding-left: 40px;
  padding-right: 40px;
  color: var(--light-bg-color);
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 600;
  border: 2px solid var(--light-semi-transparent-color);
  &:hover,
  &:focus {
    transition: background-color var(--timing-function)
      var(--transition-duration);
  }
}

.button-primary {
  @extend %button;
  padding-top: 12px;
  padding-bottom: 12px;
  background: var(--gradient-button);
  border-color: transparent;
  &:hover,
  &:focus {
    background: linear-gradient(var(--bg-color), var(--bg-color));
    border-color: var(--light-semi-transparent-color);
  }
}

.button-secondary {
  @extend %button;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(var(--bg-color), var(--bg-color));
  &:hover,
  &:focus {
    background: var(--gradient-button);
    border-color: transparent;
  }
}
