:root{
  --bg-color: #0D0F16;
  --main-color: #FF455B;
  --gradient-main-color: #FF7245;
  --light-bg-color: #FFFFFF;
  --light-semi-transparent-color: rgba(255, 255, 255, 0.5);
  --text-on-dark-color: #989CAC;
  --text-color: #26272C;
  --gradient-button: linear-gradient(90deg, var(--main-color) 0%, var(--gradient-main-color) 100%);
}
